<div class="knockout">
    <p>MusicGuroo</p>
</div>

<div class="nested">
  <% Instrument.all.each do |i| %>
  <a href="/instruments/<%= i.id %>/lessons">
    <div class="instrument">
        <img src="<%= i.image_url %>", height="100">
        <h4 class="caption"><%= i.name %></h4>
    </div>
  </a>
  <% end %>
</div>
