<h1>Availble lessons:</h1>

<ul>
  <% @lessons.each do |l| %>
  <li><h4><%= link_to "#{l.instrument.name} | #{l.genre} | #{l.difficulty}", lesson_path(l) %> - <%= l.teacher.name.titleize %></h4>  </li>
  <% end %>
</ul>
